.btn-home{
 	  border-radius: 3.6px;
 	  background-color: #57bbbc;
 	  max-width: 324px;
  	height: 52.8px;
  	margin: 0 auto;
  	border: none;
  	text-transform: uppercase;
  	font-family: Roboto;
  	font-size: 18px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	text-align: center;
  	color: #ffffff;
}
.btn-home:hover{
  background-color: #57bbbc;
}
.btn-primary.focus, .btn-primary:focus{
  box-shadow: none;
}
.center{
	text-align: center;
}
.desktop {
  background-color: #ebe9d7;
}
.enterprise-business{
  font-size: 24px;
}
.enterprise-country{
  font-size: 18px;
}
.enterprise-business,
.enterprise-country{
  margin: 0.3em 0;
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}
.enterprise-code-box{
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 160px;
  max-width: 27.6%;
  background-color: #66D073;
}
.enterprise-code {
  margin: 0;
  color: #fff;
  font-size: 5em;
}
.enterprise-link:hover{
  text-decoration: none;
}
.enterprise-name-box{
  flex: 1;
  background-color: #fff;
  margin-left: 2.5em;
}
.enterprise-name {
  margin: 0 0 0 1px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a0e49;
}
.enterprise-wrapper{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 213px;
  background-color: #fff;
  border-radius: 4.7px;
  padding: 1.5em;
  margin: 1em;
}
.enterprise-detail-wrapper{
  padding: 5em 5em 8em 5em;
  background-color: #fff;
  border-radius: 4.7px;
}
.enterprise-detail-code{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 296px;
  max-width: 780px;
  margin: 0 auto;
  background-color: #66D073;
}
.enterprise-detail-text{
  max-width: 762.3px;
  margin: 2em auto;
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #8d8c8c;
}
.enterprise-detail-text-code{
  font-size: 5em;
  color: #fff;
}
.enterprise-search-input{
  width: 48%;
  vertical-align: -webkit-baseline-middle;
  font-family: Roboto;
  font-size: 22px;
  text-align: left;
  color: #fff;
  background: transparent;
  border: none;
  caret-color: #fff;
}
.enterprise-search-input::placeholder{
  color: #991237;
}
.enterprise-search-input:focus{
  outline: 0;
}
.enterprise-search-input-wrapper{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.enterprise-search-wrapper{
  width: 100%;
  text-align: center;
}
.logo_home {
  width: 195px;
  height: 72px;
  object-fit: contain;
}
.welcome {
  width: 176px;
  height: 64px;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383743;
  text-transform: uppercase;
}

.welcome-text{
  max-width: 357.7px;
  height: 52px;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
}
.ic_close {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.ic_email, .ic-cadeado {
  width: 26px;
  height: 26px;
  object-fit: contain;
}
.ic_search-copy {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.ic_search-copy-right {
  float: right;
  margin-top: 4px;
}
form{
	width: 100%;
}
.form-login-box{
   display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  max-width: 351px;
  margin: 0 auto;
  border-bottom: solid 1.4px rgba(56, 55, 67, 0.5);
}
.form-login-input{
    border-style: none;
    border-radius: 0;
    background-color: transparent;
    opacity: 0.8;
    letter-spacing: -0.3px;
    color: #383743;
    margin-bottom: 1px;
    font-size: 18px;
}
.form-login-input:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
} 

.logo_nav {
  width: 150px;
  height: 57px;
  margin: 0 auto;
  object-fit: contain;
}

nav{
  height: 151px;
  background-image: linear-gradient(173deg, #ee4c77, #0d0430);
}
.rectangle {
  height: 151px;
  margin-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
  border: solid 1px #979797;
  background-color: #d8d8d8;
}

.search-text {
  height: 39px;
  font-family: Roboto;
  font-size: 32px;
  line-height: 1.22;
  letter-spacing: -0.5px;
  text-align: center;
  color: #383743;
  margin: 6em 0;
}

@media (min-width: 350px) {
  .enterprise-search-input{
    width: 57%;
  }
  .logo_home {
    width: 295px;
  }
}

@media (min-width: 576px) {
  .enterprise-search-input{
    width: 73%;
    font-size: 28px;
  }
  .rectangle {
    padding-right: 4em;
    padding-left: 4em;
  }
  .logo_nav {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .enterprise-search-input{
    width: 73%;
    font-size: 34px;
  }
  .rectangle {
    padding-right: 6em;
    padding-left: 6em;
  }
  .logo_nav {
    width: 234.2px;
  }
  .ic_search-copy {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .enterprise-search-input{
    width: 85%;
}