<div ng-controller="homeCtrl">
	<nav class="navbar rectangle enterprise-search">
		<div ng-hide="goSearch" class="enterprise-search-wrapper">
			<img src="img/logo-nav.png" srcset="img/logo-nav@2x.png 2x, img/logo-nav@3x.png 3x" class="logo_nav">
			<a href=""><img src="img/ic-search-copy.svg" class="ic_search-copy ic_search-copy-right" ng-click = "goSearch = !goSearch"></a>
		</div>
		<div class="enterprise-search-input-wrapper" ng-show="goSearch">
			<img src="img/ic-search-copy.svg" class="ic_search-copy">
			<input class="enterprise-search-input" type="text" placeholder="Pesquisar" ng-model="criteria">
			<a href=""><img src="img/ic-close.svg" class="ic_close" ng-click = "goSearch = !goSearch"></a>
		</div>
		
	</nav>
	
	<p ng-hide="goSearch" class="search-text">Clique na busca para iniciar</p>
	
	<div ng-show="goSearch" class="container">
		<div class="row">
			<div ng-repeat="enterprise in enterprises | filter:criteria" class="col-12">
				<a href="detalhesEmpresa/{{enterprise.code}}" class="enterprise-link">
					<div class="enterprise-wrapper">
						<div class="enterprise-code-box">
							<p class="enterprise-code">{{enterprise.code}}</p>
						</div>
						<div class="enterprise-name-box">
							<h4 class="enterprise-name">{{enterprise.name}}</h4>
							<p class="enterprise-business">{{enterprise.business}}</p>
							<p class="enterprise-country">{{enterprise.country}}</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	
</div>

