<div class="container-fluid p-5">
	<div class="row mt-5 mb-5">
		<div class="col-12 mb-5 center">
			<img src="img/logo-home.png" srcset="img/logo-home@2x.png 2x, img/logo-home@3x.png 3x"class="logo_home">
		</div>
		<div class="col-12 mt-5 mb-3">
			<h1 class="welcome">bem-vindo ao empresas</h1>
		</div>
		<div class="col-12">
			<p class="welcome-text">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</p>
		</div>

		<form class="mt-5" name="loginForm" ng-controller="loginCtrl">
			<div class="form-group">
				<div class="form-login-box">
					<img src="img/ic-email.svg" class="ic_email">
					<input class="form-control form-login-input" id="email" name="email" type="email" placeholder="E-mail" required ng-model="usuario.email">
				</div>
			</div>
			<div class="form-group">
				<div class="form-login-box">
					<img src="img/ic-cadeado.svg" class="ic_cadeado">
					<input class="form-control form-login-input" id="password" name="password" type="password" placeholder="Senha" required ng-model="usuario.password">
				</div>
			</div>
			<button ng-click="login(usuario)" class="btn btn-primary btn-block btn-home mt-5">Entrar</button>
		</form> 
	</div>
</div>